@import '~verovioscoreeditor/src/styles/VerovioScoreEditor.css';


.field-name-as4lControllerGroup{
    display: none;
}

.field-name-analysisText{
    display: none;
}

.field.h5p-editor-widget-show-when input{
    display: none;
}